body {
  text-align: center;
}

main {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  width: 20rem;
  margin: 2rem;
  padding: 1rem;

  box-shadow: 1rem 1rem 1rem;
  border-radius: 1rem 0 0 0;

  background-color: var(--color-text);
}
