.chooseImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}

.chooseImageContainer img {
  display: block;
  width: 100%;
  background-color: var(--color-placeholder);
  height: 130px;
  border-bottom: 1px solid black;
  border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
}

.chooseImageContainer .controls {
  width: 100%;
  padding: 0.4rem;
  background: var(--color-text);
  border-radius: 0 0 .8rem .8rem;
}

.chooseImageContainer .controls label {
  display: block;
  margin: 0.25rem;
  background: var(--color-action-primary);
  border-radius: var(--border-radius-medium);
  padding: 0.5rem 0;
  color: var(--color-text);
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}
