.chooseImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}

.chooseImageContainer img {
  display: block;
  max-height: 130px;
  width: auto;
  border-bottom: 1px solid black;
  border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
}

.chooseImageContainer input[type="file"] {
  max-width: 100%;
  padding: 0.4rem;
  background: var(--color-text);
  border-radius: 0 0 .8rem .8rem;
}

input[type="file"]::file-selector-button {
  margin-right: 1rem;
  border: none;
  background: var(--color-action-primary);
  padding: 0.5rem 1rem;
  color: var(--color-text);
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  background: var(--color-action-primary);
}
