.previewImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}

.previewImageContainer img {
  border: 1px solid black;
  border-bottom: 0;
  max-height: 130px;
  border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
}

.actionBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  padding: 0.4rem;
  background: var(--color-text);
  border-radius: 0 0 1rem 1rem;
  border: 0.1rem solid var(--color-bg);
  align-items: center;
}

.cancelUpload {
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.uploadImage {
  border: none;
  background: var(--color-action-primary);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-medium);
  color: var(--color-text);
  cursor: pointer;
}

.uploadingIndicator {
  width: 100%;
  margin: 0 auto 0.5rem auto;
}
