.toolbar {
  margin: 1rem;
  position: relative;
  float: right;
  z-index: 1;
  border: 1px solid lightgray;
  border-radius: var(--border-radius-medium);
}

.toolbar button {
  min-width: 50px;
  min-height: 2.5rem;
  border: 0;
  padding-left: 13px;
}

.toolbar button:first-child {
  border-top-left-radius: var(--border-radius-medium);
  border-bottom-left-radius: var(--border-radius-medium);
}

.toolbar button:last-child {
  border-top-right-radius: var(--border-radius-medium);
  border-bottom-right-radius: var(--border-radius-medium);
}
