---
import { ErrorCodes } from "../../domain/error/errorCode";
import Layout from "../../layouts/AuthoringLayout.astro";

const user = Astro.locals.user;
if (!user?.id) {
  return Astro.redirect(`/login?err=${ErrorCodes.MustBeLoggedIn}`);
}

const { i18n } = Astro.locals.environment<App.WithI18N>();
---

<Layout
  title={i18n.t("page.author.meta.title")}
  description={i18n.t("page.author.meta.description")}
>
  <h1>{i18n.t("page.author.heading")}</h1>
  <ul>
    <li><a href="/author/story">{i18n.t("page.author.your-stories")}</a></li>
  </ul>
</Layout>
