.header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  color: var(--color-text);
}

.actionBar {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: end;

  a {
    color: var(--color-text);
  }
}
