---
import ImportAFrameScripts from "@components/story/published/aframe/ImportAFrameScripts.astro";
import PublishedStory from "@components/story/published/PublishedStory.astro";
import { ErrorCodes } from "@domain/error/errorCode";
import toStoryId from "@domain/story/toStoryId";

const storyId = toStoryId(Astro.params.storyId);

if (!storyId) {
  return Astro.redirect(`/author/story?err=${ErrorCodes.StoryNotFound}`);
}

const { i18n, repositoryStory } = Astro.locals.environment<
  App.WithI18N & App.WithStoryRepository
>();

const story = await repositoryStory.getPublishedStory(storyId);

if (!story) {
  return Astro.redirect(`/author/story?err=${ErrorCodes.StoryNotFound}`);
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>
      {i18n.t("page.site-story.meta.title", { title: story.title })}
    </title>
    <meta
      name="description"
      content={i18n.t("page.site-story.meta.description", {
        author: story.author.name,
      })}
    />
    <ImportAFrameScripts />
  </head>
</html>
<body>
  <PublishedStory story={story} />
</body>
