---
import PublishedStory from "@components/story/published/PublishedStory";
import toStoryId from "@domain/story/toStoryId";

import Layout from "../../../layouts/PublicSiteLayout.astro";

const storyId = toStoryId(Astro.params.storyId);

if (!storyId) {
  return Astro.redirect("/?err=345");
}

const { i18n, repositoryStory } = Astro.locals.environment<
  App.WithI18N & App.WithStoryRepository
>();

const story = await repositoryStory.getPublishedStory(storyId);

if (!story) {
  return Astro.redirect("/?err=754");
}

const translations = i18n.getTranslationsForPage({
  locale: Astro.preferredLocale,
  page: "site-story",
});
---

<Layout
  title={i18n.t("page.site-story.meta.title", { title: story.title })}
  description={i18n.t("page.site-story.meta.description")}
>
  <main>
    <PublishedStory
      story={story}
      translations={translations}
      client:only="react"
    />
  </main>
</Layout>
