---
import PublishedStory from "@components/story/published/PublishedStory";
import toStoryId from "@domain/story/toStoryId";

const storyId = toStoryId(Astro.params.storyId);

if (!storyId) {
  return Astro.redirect("/?err=345");
}

const { i18n, repositoryStory } = Astro.locals.environment<
  App.WithI18N & App.WithStoryRepository
>();

const story = await repositoryStory.getPublishedStory(storyId);

if (!story) {
  return Astro.redirect("/?err=754");
}

const translations = i18n.getTranslationsForPage({
  locale: Astro.preferredLocale,
  page: "site-story",
});
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>
      {i18n.t("page.site-story.meta.title", { title: story.title })}
    </title>
    <meta
      name="description"
      content={i18n.t("page.site-story.meta.description", {
        author: story.author.name,
      })}
    />
    <link rel="stylesheet" href="/styles/site-public.css" />
  </head>
  <body>
    <main>
      <PublishedStory
        story={story}
        translations={translations}
        client:only="react"
      />
    </main>
  </body>
</html>
