.blockError {
  text-decoration-line: spelling-error;
  text-decoration-style: wavy;
  position: relative;
}

.blockError .card {
  display: none;
  opacity: 0;

  transition-property: display, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  transition-behavior: allow-discrete;

  position: absolute;
  top: 2.25rem;
  left: 2rem;
  z-index: 2;
  background-color: whitesmoke;
  border: 5px solid orange;
}

.blockError:hover .card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}

.card {
  .headline {
    font-weight: bold;
    border-bottom: 1px solid black;
    margin: 1rem 1rem 0 1rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;

    .example {
      margin-top: 1rem;
      font-size: smaller;
    }
  }
}
