---
import StorySummaryGrid from "@components/story/summary/grid/StorySummaryGrid.astro";
import CreateStory from "@components/story/create/CreateStory";

import Layout from "../../../layouts/AuthoringLayout.astro";

import "./_stories.module.css";

const user = Astro.locals.user;
if (!user?.id) {
  return Astro.redirect("/login");
}

const { repositoryStory, i18n } = Astro.locals.environment<
  App.WithStoryRepository & App.WithI18N
>();

let stories = await repositoryStory.getStorySummariesByAuthor(user.id);

if (!stories) {
  stories = {
    author: {
      id: user.id,
      name: user.name,
    },
    stories: [],
  };
}

const translations = i18n.getTranslationsForPage({
  locale: Astro.preferredLocale,
  page: "stories",
});
---

<Layout
  title={i18n.t("page.stories.meta.title")}
  description={i18n.t("page.stories.meta.description")}
>
  <main>
    <h1>
      {i18n.t("page.stories.heading", { authorName: stories.author.name })}
    </h1>

    <CreateStory translations={translations} client:only="react" />

    <StorySummaryGrid stories={stories.stories} />
  </main>
</Layout>
