.blockError {
  text-decoration-line: spelling-error;
  text-decoration-style: wavy;
  position: relative;
}

.blockError .card {
  display: none;
  opacity: 0;

  transition-property: display, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  transition-behavior: allow-discrete;

  margin: 1rem;
  padding: 1rem;
  position: absolute;
  top: 1rem;
  z-index: 2;
  background-color: orange;
}

.blockError:hover .card {
  display: initial;
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}
