---
import "@fontsource/source-sans-pro";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;

const { i18n } = Astro.locals.environment<App.WithI18N>();

const language = i18n.hasSupportFor(Astro.preferredLocale)
  ? Astro.preferredLocale
  : "en";
---

<!doctype html>
<html lang={language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title ?? "Virtual Storytelling Application Toolkit"}</title>
    <meta
      name="description"
      content={description ?? "Virtual Storytelling Application Toolkit"}
    />
    <link rel="stylesheet" href="/styles/site-authoring.css" />
  </head>
  <body>
    <slot />
  </body>
</html>
