---
interface Props {
  pageName: string;
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;

const { i18n } = Astro.locals.environment<App.WithI18N>();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title ?? "Virtual Storytelling Application Toolkit"}</title>
    <meta
      name="description"
      content={description ?? "Virtual Storytelling Application Toolkit"}
    />
    <link rel="stylesheet" href="/styles/site-public.css" />
  </head>
  <body>
    <div>
      <slot />
    </div>
    <footer>{i18n.t("__common__.copyright")}</footer>
  </body>
</html>

<style>
  body {
    --footer-height: 3rem;
  }

  body > div {
    min-height: calc(100vh - var(--footer-height));
  }

  footer {
    height: var(--footer-height);
    margin: auto 3rem;
  }
</style>
