---
interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/styles/site-public.css" />
    <meta
      name="description"
      content={description ?? "Virtual Storytelling Application Toolkit"}
    />
    <title>{title ?? "Virtual Storytelling Application Toolkit"}</title>
    <slot name="scripts" />
  </head>
  <body>
    <div>
      <slot />
    </div>
    <footer>
      Copyright &copy; 2025 Oxford Brookes University &bull; Learning Resources
    </footer>
  </body>
</html>

<style>
  body {
    --footer-height: 3rem;
  }

  body > div {
    min-height: calc(100vh - var(--footer-height));
  }

  footer {
    height: var(--footer-height);
    margin: auto 3rem;
  }
</style>
