.existingImage {
  display: flex;
  flex-direction: column;
  height: 200px;
}

.existingImage > img {
  border: 1px solid black;
  border-bottom: 0;
  border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
  max-height: 130px;
}

.existingImage button {
  align-self: flex-end;
  border: none;
  background: var(--color-action-primary);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-medium);
  color: var(--color-text);
  cursor: pointer;
  min-width: 3.5rem;
  display: flex;
  justify-content: center;
}

.actionBar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0.4rem;
  min-height: 55px;
  align-items: center;
  background: var(--color-text);
  border-radius: 0 0 1rem 1rem;
  border: 0.1rem solid var(--color-bg);
}

.loadingContainer {
  width: 100%;
  margin: 0.5rem 1rem;
}
