name: build
on:
  - push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "22"

      - run: npm ci
      - run: npm run build
      - run: npm test
